header{
    background-color: black;
    color: white;
    padding: 0.5em;
}
.page{
    display: grid;
    grid-template-columns: 15% 85%;
}
.sidebar{
    background-color: lightgray;
    padding: 0.3em;
    height: 500px;
}
.content{
    padding: 0.3em;
    margin: 1em;
}
.heading{
    display: grid;
    grid-template-columns: 7% 93%;
}
.Bug{
    padding: 1.7em;
}
.Home{
    display: grid;
    grid-template-columns: 20%  80%;
    grid-column-gap: 0.8em;
}
.Himg{
    padding: 0.7em;
    position: relative;
    left: -2px;
}
.Add{
    display: grid;
    grid-template-columns: 20%  80%;
    grid-column-gap: 0.8em;
}
.Aimg{
    padding: 0.7em;
    position: relative;
    left: -4px;
}
.New{
    display: grid;
    grid-template-columns: 20%  80%;
    grid-column-gap: 0.8em;
}
.Nimg{
    padding: 1em;
    position: relative;
    left: -8px;
}
.Logout{
    display: grid;
    grid-template-columns: 20%  80%;
    grid-column-gap: 1em;
}
.Limg{
    padding: 1em;
    position: relative;
    left: -8px;
}
.hover{
    background: var(--coral);
    border-color: var(--lighterBlue);
    cursor: pointer;
}

.form{
    padding-bottom: 1%;
}
#msg{
    color: red;
    font-weight: bold;
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
label{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
input{
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border-color: black;
}

select{
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border-color: black;
}

button{
    width: 150px;
    height: 30px;
    background-color: rgb(55, 55, 218);
    color: white;
    border-radius: 5px;
    border-color: rgb(55, 55, 218);
}
h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

#description{
    height: 100px;
}